In [8]:
%sql select COUNT(*) from CHICAGOCRIMEDATA;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [9]:
%sql select COMMUNITY_AREA_NAME from CHICAGOCENSUSDATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [12]:
%sql select CASE_NUMBER from CHICAGOCRIMEDATA where DESCRIPTION LIKE '%CHILD%' OR PRIMARY_TYPE LIKE '%CHILDREN%';

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',), ('HN144152',)]

In [20]:
#List the average safety score for all types of schools.

%sql select AVG(SAFETY_SCORE) as "AVERAGE SAFETY SCORE" FROM CHICAGOPUBLICSCHOOLS ;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [27]:
#List 5 community areas with highest % of households below poverty line

%sql SELECT COMMUNITY_AREA_NAME as "COMMUNITY_AREA_NAME",\
PERCENT_HOUSEHOLDS_BELOW_POVERTY as "PERCENT_HOUSEHOLDS_BELOW_POVERTY"\
FROM CHICAGOCENSUSDATA\
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC  LIMIT 5;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [134]:
#Which community area is most crime prone? To answer this question, data from multiple tables is used 

%sql SELECT CENSUS.COMMUNITY_AREA_NAME, CRIME.COMMUNITY_AREA_NUMBER, COUNT(CRIME.COMMUNITY_AREA_NUMBER) \
as "Number of crimes in this community" \
FROM CHICAGOCRIMEDATA CRIME, CHICAGOCENSUSDATA CENSUS WHERE CRIME.COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY CRIME.COMMUNITY_AREA_NUMBER, CENSUS.COMMUNITY_AREA_NAME ORDER BY COUNT(CRIME.COMMUNITY_AREA_NUMBER) DESC LIMIT 1;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Albany Park', 25, Decimal('43'))]

In [75]:
#Use a sub-query to find the name of the community area with highest hardship index

%sql SELECT COMMUNITY_AREA_NAME FROM CHICAGOCENSUSDATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CHICAGOCENSUSDATA);

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

In [76]:
%sql SELECT CENSUS.COMMUNITY_AREA_NAME\
FROM CHICAGOCRIMEDATA CRIME, CHICAGOCENSUSDATA CENSUS WHERE CRIME.COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY CRIME.COMMUNITY_AREA_NUMBER, CENSUS.COMMUNITY_AREA_NAME ORDER BY COUNT(CRIME.COMMUNITY_AREA_NUMBER) DESC LIMIT 1;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Albany Park',)]

In [109]:
#Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

%sql SELECT CENSUS.COMMUNITY_AREA_NAME, CENSUS.PER_CAPITA_INCOME\
FROM CHICAGOPUBLICSCHOOLS SCHOOLS, CHICAGOCENSUSDATA CENSUS WHERE SCHOOLS.SAFETY_SCORE = 1 \
AND CENSUS.COMMUNITY_AREA_NUMBER = SCHOOLS.COMMUNITY_AREA_NUMBER;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', 13785)]

In [111]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA GROUP BY COMMUNITY_AREA_NUMBER WHERE COUNT(*) >= 1 limit 5;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "WHERE" was found following "OMMUNITY_AREA_NUMBER".  Expected tokens may include:  "OVERLAPS".  SQLSTATE=42601 SQLCODE=-104
[SQL: SELECT COMMUNITY_AREA_NUMBER, COUNT(*)  FROM CHICAGOCRIMEDATA GROUP BY COMMUNITY_AREA_NUMBER WHERE COUNT(*) >= 1 limit 5;]
(Background on this error at: http://sqlalche.me/e/f405)

In [118]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA  WHERE COMMUNITY_AREA_NUMBER > 1 GROUP BY COMMUNITY_AREA_NUMBER limit 5;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, Decimal('6')),
 (2, Decimal('7')),
 (3, Decimal('4')),
 (4, Decimal('3')),
 (5, Decimal('4'))]

In [121]:
#Use a sub-query to determine the Community Area Name with most number of crimes?

%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA GROUP BY COMMUNITY_AREA_NUMBER limit 5;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, Decimal('6')),
 (2, Decimal('7')),
 (3, Decimal('4')),
 (4, Decimal('3')),
 (5, Decimal('4'))]

In [128]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = 43;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

In [129]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = (SELECT MAX(COUNT(*)) FROM CHICAGOCRIMEDATA);

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0112N  The operand of the column function "MAX" includes a column function, a scalar fullselect, or a subquery.  SQLSTATE=42607 SQLCODE=-112
[SQL: SELECT COMMUNITY_AREA_NUMBER, COUNT(*)  FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL  GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = (SELECT MAX(COUNT(*)) FROM CHICAGOCRIMEDATA );]
(Background on this error at: http://sqlalche.me/e/f405)

In [132]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = 43;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

In [133]:
%sql SELECT COMMUNITY_AREA_NUMBER, MAX(COUNT(*)) \
FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0112N  The operand of the column function "MAX" includes a column function, a scalar fullselect, or a subquery.  SQLSTATE=42607 SQLCODE=-112
[SQL: SELECT COMMUNITY_AREA_NUMBER, MAX(COUNT(*))  FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL  GROUP BY COMMUNITY_AREA_NUMBER;]
(Background on this error at: http://sqlalche.me/e/f405)

In [135]:
    %sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
    FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
    GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = (select max(count(*)) from CHICAGOCRIMEDATA);

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0112N  The operand of the column function "MAX" includes a column function, a scalar fullselect, or a subquery.  SQLSTATE=42607 SQLCODE=-112
[SQL: SELECT COMMUNITY_AREA_NUMBER, COUNT(*)  FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL  GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = (select max(count(*)) from CHICAGOCRIMEDATA);]
(Background on this error at: http://sqlalche.me/e/f405)

In [139]:
    %sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
    FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
    GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = 43;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

In [138]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) \
FROM CHICAGOCRIMEDATA WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) = 43;

 * ibm_db_sa://dzk37375:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]